[submodule "test_cases/ltp"]
	path = test_cases/ltp
	url = https://github.com/linux-test-project/ltp.git
[submodule "test_cases/bootrr"]
	path = test_cases/bootrr
	url = https://github.com/kernelci/bootrr.git
[submodule "test_cases/igt-gpu-tools"]
	path = test_cases/igt-gpu-tools
	url = https://gitlab.freedesktop.org/drm/igt-gpu-tools.git
[submodule "test_cases/kernelci-core"]
	path = test_cases/kernelci-core
	url = https://github.com/kernelci/kernelci-core.git
[submodule "test_cases/test-definitions"]
	path = test_cases/test-definitions
	url = https://github.com/kernelci/test-definitions.git
[submodule "test_cases/kvm-unit-tests"]
	path = test_cases/kvm-unit-tests
	url = https://gitlab.com/kvm-unit-tests/kvm-unit-tests.git
[submodule "test_cases/libgpiod"]
	path = test_cases/libgpiod
	url = https://git.kernel.org/pub/scm/libs/libgpiod/libgpiod.git/
[submodule "parser/tree-sitter-c"]
	path = parser/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c.git
[submodule "parser/tree-sitter-bash"]
	path = parser/tree-sitter-bash
	url = https://github.com/tree-sitter/tree-sitter-bash.git
